body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.page {
    
    max-width: 1440px;
    width: 100%;
    background-color: grey;
    height: 97vh;
    display: flex;
    background-image: url(./images/wrap.jpg);
    background-size: cover;

    
}

.login {

    background-color: #f80000;
    width: 30%;
    height: 40%;
    opacity: .7;
    
    margin: auto;
    border-radius: 10px;
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login__input {
    width: 85%;
    height: 10%;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
}
.login__button {
    width: 150px;
    height: 40px;

    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    color: black;
    font-size: 32px;
    font-weight: bold;
    background-color: grey;
    border-radius: 50px;
}

.login__button:hover {
    
    
}

.login__invalid {
    display: none;
    color: red;
}